@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Protest Revolution", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: url(./assets/snake-bg.jpg);
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.points {
    font-size: 30px;
    color: #fff; 
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 8%;
}

.score-box {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 10%;
    right: 8%;
}

.high-score {
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 7%;
}

.heading {
    position: absolute;
    top: 3%;
    font-size: 50px;
    color: #efefee;
    text-decoration: underline;
}

#snake-board {
    width: 65vmin;
    height: 65vmin;
    background: linear-gradient(rgb(147, 240, 147), rgb(176, 232, 117));
    border: 5px solid rgb(104, 132, 59);
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.snake-head {
    background-color: rgb(210, 3, 58);
    border: 3px solid rgb(249, 152, 152);
    border-radius: 10px;
    transform: scale(1.25);
}

.snake-body {
    background-color: rgb(26, 139, 116);
    border: 2px solid white;
    border-radius: 4px;
}

.food {
    background: linear-gradient(red, rgb(2, 63, 129));
    border: 1px solid rgb(0, 140, 65);
    border-radius: 50%;
}


.level-btns {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 30px 30px 40px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(90, 157, 90) , rgb(157, 157, 100));
    border-radius: 6px;
}

.level-btns h2 {
    color: rgb(252, 255, 252);
    font-size: 2rem;
    text-decoration: underline;
}

.selected {
    color: #fff !important;
    background: #881003b3 !important;  
}

.level-btns button {
    width: 70%;
    border:none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    font-size: 1.5rem;
    border-radius: 6px;
    transition: all 0.6s;
    background: linear-gradient(rgba(50, 74, 50, 0.657), rgb(64, 64, 39));
}

.level-btns button:hover {
    cursor: pointer;
    background: rgba(14, 119, 48, 0.584);
}



